<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta content="all" name="robots"/>
    <meta name="author" content="JJ Ying"/>
    <meta name="description" content="关于 JJ Ying，一个界面设计师"/>
    <link rel="stylesheet" rev="stylesheet" href="css/index.css" type="text/css" media="all"/>
    <title>关于 宋聚鑫</title>
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/js.js"></script>
    <script type="text/javascript" src="js/jquery.stellar.min.js"></script>
    <script type="text/javascript" src="js/waypoints.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
</head>
<body>


<!--Cover-->
<div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.3">
    <div class="center jjying1 web-font"  data-stellar-ratio="1">宋聚鑫</div>
    <!--<img class="center jjying2" src="img/jjying2.png" data-stellar-ratio="1" alt="JJ Ying">-->
    <div class="center jjying2 web-font"  data-stellar-ratio="1">Simba</div>
    <a class="button" data-slide="2" title=""></a>

</div>


<!--Bio-->
<div class="slide" id="slide2" data-slide="2" data-stellar-background-ratio="0.3">
    <p class="center bio-text bio-text-1" data-stellar-ratio="0.7">一枚优质前端工程师</p>
    <p class="center bio-text bio-text-2" data-stellar-ratio="0.7">中文名字是宋聚鑫，英文名字是Simba</p>
    <p class="center bio-text bio-text-3" data-stellar-ratio="0.7">1993年10月生于河南郑州</p>
    <p class="center bio-text bio-text-4" data-stellar-ratio="0.7">毕业于呼伦贝尔学院</p>


    <img class="center bio-icon bio-icon-1" src="img/1.png" data-stellar-ratio="0.7">
    <i class="pc-icon center bio-icon bio-icon-2" data-stellar-ratio="0.7">&#xe6a3;</i>
    <i class="pc-icon center bio-icon bio-icon-3" data-stellar-ratio="0.7">&#xe647;</i>
    <i class="pc-icon center bio-icon bio-icon-4" data-stellar-ratio="0.7">&#xe607;</i>
    <div class="wrapper">


    </div>

    <a class="button dark-button" data-slide="3" title=""></a>

</div>


<div class="gap" id="gap-2-3" data-stellar-background-ratio="1"></div>

<!--  Slide 3 - Baidu-->
<div class="slide" id="slide3" data-slide="3" data-stellar-background-ratio="1">
    <!--<img class="center baidu-text" src="img/baidu-text.png" data-stellar-ratio="0.6">
    <img class="center baidu-mac baidu-mac-1" src="img/baidu-mac-1.png" data-stellar-ratio="1">
    <img class="center baidu-mac baidu-mac-2" src="img/baidu-mac-2.png" data-stellar-ratio="1">-->
    <p class="center baidu-text" data-stellar-ratio="0.6">精通前端，涉猎后端</p>
    <ul data-stellar-ratio="1">
        <li >Javascript</li>
        <li >HTML&css</li>
        <li >Node.js</li>
        <li >Mongodb</li>
        <li >Jquery&BootStrap&Angular</li>
        <li >photoshop&github&webpack</li>
    </ul>
    <div class="wrapper">

    </div>

    <a class="button dark-button" data-slide="4" title=""></a>

</div>

<div class="gap" id="gap-3-4" data-stellar-background-ratio="1"></div>


<!-- Slide 4 - HP -->
<div class="slide" id="slide4" data-slide="4" data-stellar-background-ratio="1">

    <img class="center hp-ui hp-ui-4" src="img/tb.jpg" data-stellar-ratio="1">
    <img class="center hp-ui hp-ui-5" src="img/my.jpg" data-stellar-ratio="1">

    <img class="center hp-ui hp-ui-2" src="img/vote.jpg" data-stellar-ratio="1.1">
    <img class="center hp-ui hp-ui-3" src="img/kbs.jpg" data-stellar-ratio="1.1">
    <img class="center hp-ui hp-ui-1" src="img/white.jpg" data-stellar-ratio="1.2">
    <div class="bottom" id="printer" data-stellar-ratio="1"></div>

    <p class="center hp-text" data-stellar-ratio="1.2">作品展示</p>
    <a class="button" data-slide="6" title=""></a>
</div>

<div class="gap" id="gap-4-5" data-stellar-background-ratio="1"></div>

<!-- Personal -->
<!--<div class="slide" id="personal" data-slide="5" data-stellar-background-ratio="1">
   &lt;!&ndash; <script type="text/javascript" src="js/jquery.jribbble-1.0.1.ugly.js"></script>
    <div class="center dribbble-shots" data-stellar-ratio="0.95">

        <ul id="shotsByPlayerId"></ul>

        <script type="text/javascript">
            var callback = function (playerShots) {
                var html = '';

                $('h2 b').text(playerShots.shots[0].player.name);

                $.each(playerShots.shots, function (i, shot) {
                    html += '<a target="_blank" class="dribbble-single" href="' + shot.url + '">';
                    html += '<img src="' + shot.image_url + '" ';
                    html += 'alt="' + shot.title + '"><div class="dribbble-desc"> ' + shot.title + '</div></a></li>';
                });

                $('#shotsByPlayerId').html(html);
            };

            $.jribbble.getShotsByPlayerId('JJYing', callback, {page: 1, per_page: 8});
        </script>

    </div>&ndash;&gt;

    <img class="center personal-text" src="img/personal-text.png" data-stellar-ratio="1.1">

    <a class="button" data-slide="6" title=""></a>
</div>-->

<div class="gap" id="gap-5-6" data-stellar-background-ratio="1"></div>

<!-- Slide 6 - Travel & Photography -->
<div class="slide" id="slide6" data-slide="6" data-stellar-background-ratio="0.25">
    <img class="center travel-map" src="img/travel-map.png">

   <!-- <img class="center travel-arrow travel-arrow-1" src="img/travel-arrow-1.png" data-stellar-ratio="1">
    <img class="center travel-arrow travel-arrow-2" src="img/travel-arrow-2.png" data-stellar-ratio="1">
    <img class="center travel-arrow travel-arrow-3" src="img/travel-arrow-3.png" data-stellar-ratio="1">
    <img class="center travel-arrow travel-arrow-4" src="img/travel-arrow-4.png" data-stellar-ratio="1">
    <img class="center travel-arrow travel-arrow-5" src="img/travel-arrow-5.png" data-stellar-ratio="1">
    <img class="center travel-arrow travel-arrow-6" src="img/travel-arrow-6.png" data-stellar-ratio="1">
    <img class="center travel-arrow travel-arrow-7" src="img/travel-arrow-7.png" data-stellar-ratio="1">-->

    <a href="###" ><img
            class="center travel-photo travel-photo-1" src="img/6.jpg" data-stellar-ratio="1"></a>
    <a href="###"><img
            class="center travel-photo travel-photo-2" src="img/2.jpg" data-stellar-ratio="1"></a>
    <a href="###"><img
            class="center travel-photo travel-photo-3" src="img/3.jpg" data-stellar-ratio="1"></a>
    <a href="###"><img
            class="center travel-photo travel-photo-4" src="img/4.jpg" data-stellar-ratio="1"></a>
    <a href="###"><img
            class="center travel-photo travel-photo-5" src="img/5.jpg" data-stellar-ratio="1"></a>
    <a href="###"><img
            class="center travel-photo travel-photo-6" src="img/1.jpg" data-stellar-ratio="1"></a>
    <a href="###"><img
            class="center travel-photo travel-photo-7" src="img/7.jpg" data-stellar-ratio="1"></a>

    <img class="center travel-plane" src="img/travel-plane.gif" data-stellar-ratio="0.75">

    <div class="travel-mask"></div>
    <p class="center travel-text" data-stellar-ratio="1">平时也喜欢四处走走</p>
    <i class="pc-icon center travel-icon" data-stellar-ratio="1">&#xe609;</i>
    <a class="button" data-slide="10" title=""></a>

</div>


<!--<div class="gap" id="gap-6-7" data-stellar-background-ratio="1"></div>-->


<!-- Slide 7 - Football -->
<!--<div class="slide" id="slide7" data-slide="7" data-stellar-background-ratio="0.5">
    <div class="center football" data-stellar-ratio="1">
        <div class="inner-football">
            <img class="bottom football-text" src="img/football-text.png">
            <img class="bottom football-icon" src="img/football-icon.png">
            <div class="bottom" id="manutd"></div>
            <div class="bottom" id="kit"></div>
        </div>
    </div>
    <a class="button" data-slide="8" title=""></a>
</div>-->


<!--  Friends -->
<!--<div class="slide" id="friends" data-slide="8" data-stellar-background-ratio="0.3">
    <div class="center friends-single friends-1" data-stellar-ratio="1.2"><a href="http://leongao.com"
                                                                             target="_blank"><img class="friends-avatar"
                                                                                                  src="img/friends-leon.png">
        <h5>
            <div class="friends-name">Leon Gao</div>
            一个好人
        </h5>
    </a></div>
    <div class="center friends-single friends-2" data-stellar-ratio="1.35"><a href="http://jianjia360.com"
                                                                              target="_blank"><img
            class="friends-avatar" src="img/friends-moonmonster.png">
        <h5>
            <div class="friends-name">MoonMonster</div>
            交互长文君
        </h5>
    </a></div>
    <div class="center friends-single friends-3" data-stellar-ratio="1"><a href="http://www.kidcomic.net"
                                                                           target="_blank"><img class="friends-avatar"
                                                                                                src="img/friends-kidaubis.png">
        <h5>
            <div class="friends-name">Kidaubis</div>
            不在 LOL 中超神，就在 GUI 中涅磐<br/>Prince of Contests
        </h5>
    </a></div>
    <div class="center friends-single friends-4" data-stellar-ratio="1.08"><a href="http://lavi.cc" target="_blank"><img
            class="friends-avatar" src="img/friends-lavi.png">
        <h5>
            <div class="friends-name">Lavi</div>
            做设计有些年头了还一直不服老的中年大叔
        </h5>
    </a></div>
    <div class="center friends-single friends-5" data-stellar-ratio="0.95"><a href="http://jimmy.sh"
                                                                              target="_blank"><img
            class="friends-avatar" src="img/friends-jimmy.png">
        <h5>
            <div class="friends-name">Jimmy</div>
            程序员中的设计师，设计师中的程序员
        </h5>
    </a></div>
    <div class="center friends-single friends-6" data-stellar-ratio="0.8"><a href="http://dribbble.com/Mimo"
                                                                             target="_blank"><img class="friends-avatar"
                                                                                                  src="img/friends-mimo.png">
        <h5>
            <div class="friends-name">Mimo</div>
            爱美，爱生活，爱可爱个性的角色~
        </h5>
    </a></div>
    <div class="center friends-single friends-7" data-stellar-ratio="0.88"><a href="http://www.yihanzhang.com/"
                                                                              target="_blank"><img
            class="friends-avatar" src="img/friends-ehein.png">
        <h5>
            <div class="friends-name">张亦寒</div>
            外冷内热个性鬼马，Q 哥家美丽又可爱的萌感小少女
        </h5>
    </a></div>

    <img class="center friends-text" src="img/friends-text.png" data-stellar-ratio="1">


    <a class="button dark-button" data-slide="9" title=""></a>
</div>


<div class="slide" id="jessie" data-slide="9">

    <div class="center jessie">
        <div class="inner-jessie">

        </div>
    </div>

    <a class="button" data-slide="10" title=""></a>
</div>-->

<!--Contacts -->
<div class="slide" id="contacts" data-slide="10" data-stellar-background-ratio="0">
    <div class="center contacts-links contacts-weibo" data-stellar-ratio="1"><a href="https://github.com/SongJuXin"><i class="pc-icon">&#xe69f;</i><h4>GitHub</h4></a></div>
    <div class="center contacts-links contacts-flickr" data-stellar-ratio="1"><a
            href="tencent://message/?uin=1016346103&Menu=yes"><i class="pc-icon">&#xe606;</i><h4>QQ</h4></a></div>
    <div class="center contacts-links contacts-zhihu" data-stellar-ratio="1"><a
            href="http://www.zhihu.com/people/rover-56-79"><i class="pc-icon">&#xe634;</i><h4>知乎</h4></a></div>
    <div class="center contacts-links contacts-email" data-stellar-ratio="1"><a
            href="mailto:1016346103@qq.com"><i class="pc-icon">&#xe618;</i><h4>电子邮件</h4></a></div>


    <p class="center contacts-text contacts-text-1" data-stellar-ratio="1">平时可以在这些地方联系到我</p>
    <img class="center  resume" src="img/resume.png" data-stellar-ratio="1">
    <a href="https://songjuxin.github.io/resume_Simba/" class="center  resume resume1">扫一扫，看移动端简历</a>
    <a class="button button-2-top" data-slide="1" title="返回顶部"></a>
</div>

<!-- Baidu Analytics -->
<!--<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F9595aadfac9865133fc81fd7d9c01c35' type='text/javascript'%3E%3C/script%3E"));
</script>-->

</body>
</html>